// Specific CSS for your home-page
// Specific CSS for your home-page

body {
  margin-bottom: 2rem;
  background-color: #000000;
  cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym837.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym837.png), auto !important;
  ::selection {
    background: #FBAACD;
  }

}
h1 {
  font-size: 600%;
  // display: flex;
  text-align: center;
  margin-top: 11px;
  font-family: dinoSaur, cursive, 'EB Garamond', serif, 'Great Vibes', cursive;
  color: #f0abf1;



}
.logo{
  /* display: flex; */
  margin-top: 50px;
  margin-bottom: 10px;
  display: left;


}

p{
  color: #f09def;
  text-align: center;
  margin-top: 25%;
  margin: 20px;
  font-family: Fira, monospace;;
}
.intro{
  max-width: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

h2,h3{
  font-family: monospace, cursive;
  text-align: center;
  margin-top: 21px;
  font-size: 200%;
  color: #0fba48;
  margin-left: 25px;


}

ul{
  // add roboto mono or make the ul monospace?
  font-family: Andale Mono, monospace;
  text-align: center;
  max-width: 500px;
  margin:auto;
  color: #ECABF1;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items:center;

}
.contact{
  margin-top: 80px;
}

.bio{
  display: flex;
  justify-content: center;
  max-width: 800px;
  align-items: center;
  text-align: center;
}
hr{
  color: white;
}
small{
  color: white;
  display: flex;
  margin-left: 360px;

}
.image-test{

}
